<h2>{{user?.name}} posts</h2>

<table #tableRef id="table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Message</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let post of user?.posts">
    <td>{{post.title}}</td>
    <td>{{post.body}}</td>
  </tr>
  </tbody>
</table>

<canvas [height]="tableRef.clientHeight"
        #canvasRef
        [hidden]="true"
        [width]="tableRef.clientWidth"
        id="canvas">
</canvas>


<div class="actions">
  <button (click)="exportAsCsv()" type="button">Export as csv</button>
  <button (click)="exportAsImage()" type="button">Export as Image</button>
</div>
